body, html {
  height: 100%;
  margin: 0px auto;
  padding: 0px auto; }

#wrapper {
  height: auto;
  min-height: 100%;
  position: relative;
  background: #C7C6C4;
  font-size: 32pt;
  color: #57B5B6;
  padding: 15px; }

.lead {
  color: #008E90;
  font-size: 32pt !important; }

.input-group {
  background: #C7C6C4;
  border: 2px solid #57B5B6;
  width: 60px; }
  .input-group .input-group-addon, .input-group input {
    -webkit-appearance: none;
    background: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: 0;
    outline: none;
    font-size: 32pt !important;
    color: #008E90; }

.small {
  font-size: .5em !important; }

.btn {
  -webkit-appearance: none;
  width: 100%;
  background: #008E90;
  border-radius: 0 !important;
  color: #C7C6C4;
  font-size: 16pt !important; }
